<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tu_darmstadt.epool.pfoertnerpanel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".PanelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pfoertnerpanel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pfoertnerpanel"
        android:supportsRtl="true"
        android:theme="@style/PfoertnerStyle">
        <activity android:name=".AtheneInfo"></activity>
        <activity
            android:name=".EditAppointmentsActivity"
            android:label="@string/title_activity_edit_appointments"
            android:theme="@style/PfoertnerStyle.NoActionBar" />
        <activity
            android:name=".ScheduleAppointment"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScheduleAppointment"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MakeAppointment"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InitializationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_initialization"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name="de.tu_darmstadt.epool.pfoertner.common.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="de.tu_darmstadt.epool.pfoertner.common.SyncService"
            android:enabled="true" />
        <service
            android:name=".services.MemberCalendarInfoService"
            android:enabled="true" />

        <activity
            android:name=".Appointment"
            android:screenOrientation="landscape" />
    </application>

</manifest>